/* utils */
body {
    color: #808080;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
}
.btn{
    text-decoration: none;
    transition: 0.5s;
    border-radius: 30px;
    padding: 15px 30px;
}

.btnwhite {
    color: #fff;
    border: 1px solid #fff;
}

h2, h3 {
    color: #fff;
}

li {
    list-style-type: none;
}


/* HEADER */
header {
    display: flex;
}

header .head-bar{
    justify-content: flex-end;
}

.head-bar {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100px;
    line-height: 100px;
    width: 100%;
    padding-right: 15px;
    z-index: 1;
    position: fixed;
}


.wrapper {
    height: calc(100vh - 100px);
}


/* sidebar */
[class*="sidebar"] {
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}


.left-nav ul {
    margin-top: 20px;
}

.left-nav li {
    margin: 15px 0;
    padding-left: 15px;
}

.left-nav img {
    width: 20px;
    /* filter: invert(0.2); */
    opacity: 80%;
    margin-right: 10px;
    vertical-align: middle;
}

.playlist {
    padding:10px 20px;
}

.playlist li {
    padding: 5px 0;
}

.fa-plus-square {
    font-size: 30px;
    vertical-align: middle;
}


/* MAIN */
main {
    background-color: #141922;
    height: 100%;
    margin-left: 50px;
    padding-top: 100px;
    overflow-y: auto;
}

span {
    border-bottom: 2px solid #adff2f;
    padding-bottom: 2px;
}

.menu li {
    display: inline-block;
    margin-top: 20px;
    padding: 0 10px;
}


/* footer */
.player-bar{
    height: 100px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

/* media */
@media screen and (max-width: 576px) {
    .sidebar-sm {
        width: 50px;
        /* padding: 5px; */
    }

    div .logotest {
        padding: 10px;
    }
    
    div #logo::after {
        content: url(../img/logo-small.svg);
    }

    div .playlist {
        visibility: hidden;
    }

}

@media screen and (min-width: 577px) {
    .sidebar-lg {
        width: 230px;
    }
    
    div #logo::after {
        content: url(../img/logo.svg);
    }
    
    div .logotest {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 70px;
    }

    #home {
        border-left: 3px solid #adff2f;
        padding-left: 12px;
    }

    #home::after {
        content: "Home";
        vertical-align: middle;
    }

    main {
        margin-left: 230px;
    }
}


/* HOVER */
li:hover {
    color: #fff;
    cursor: pointer;
}

#home:hover {
    opacity: 100%;
}