/* utils */
body {
    color: #808080;
    background-color: #141922;
    min-width: 576px;
}

.btn{
    text-decoration: none;
    transition: 0.5s;
    border-radius: 30px;
    padding: 15px 30px;
}

.btnwhite {
    color: #fff;
    border: 1px solid #fff;
}


/* header */
header {
    display: flex;
}

header .head-bar{
    justify-content: flex-end;
}

.head-bar {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100px;
    line-height: 100px;
    width: 100%;
    padding-right: 10px;
    z-index: 1;
}

[class*="sidebar"] {
    height: 100%;
    background-color: #000;
    position: fixed;
    z-index: 50;
    flex-direction: column;
    justify-content: flex-start;
    
}


/* main */
main .container-fluid {
    overflow-y: auto;
}


/* footer */
.player-bar{
    height: 100px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

/* media */
@media screen and (max-width: 576px) {
    .sidebar-sm {
        width: 50px;
        padding: 5px;
    }

    div .sidebar-sm::after {
        content: url(../img/logo-small.svg);
    }

}

@media screen and (min-width: 577px) {
    .sidebar-lg {
        width: 230px;
        padding: 10px;
    }

    div .sidebar-lg::after {
        content: url(../img/logo.svg);
    }
}